
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(78, 139, 119);
}

.login-title{
    font-size: 2rem;
    margin-bottom: 20px;
    color: beige;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
}

.login-input{
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 1rem;
    
}

.login-button{
    padding: 12px;
    background-color: beige;
    color: black;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover{
    background-color:  rgb(78, 139, 119);
}
.login-reset-button {
  margin-top: 40px;
  padding: 5px;
  background: white;
  border:none;
  border-radius: 8px;
  
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  
}

.login-reset-button:hover {
  color: #35af49;
}
